{%  extends 'disturbance/emails/base_email.html' %}

{%  block content %}
	A new proposal {{ proposal.lodgement_number }} has been submitted and is now ready for assessment.

	<p>
	
	
	Region: {{proposal.region}}<br>
	{% if proposal.district %}
		District: {{proposal.district}}<br>
	{% else %}
		District: -<br>
	{% endif %}
	Organisation: {{proposal.applicant}}<br>
	Title: {{proposal.title}}<br>
	Activity: {{proposal.activity}}<br>
	</p>


    <p>
    You can access this Proposal using the following link:
    </p>
    <a href="{{url}}">Access Proposal</a>

	<p>
		Note:
		<ul>
			<!-- <li>To start the assessment process an Assessor must be 'assigned' to the proposal ASAP.</li>
			<li>To determine who is responsible for assessing a proposal consult your local Assessor’s ‘Regional Ready Reckoner’ or discuss with the district or regional manager.</li>
			<li>DBCAs aim is to have proposals assessed and an approval decision made within 30-working days (from lodgment) unless significant amendments  are required. </li>
			<li>See <a href="{{ proposal_assess_help_page }}">DAS 06 how to assess a proposal</a> for full instructions.</li> -->
			<li>Reminder notifications are sent every 15 days until the status of a proposal progresses.</li>
			<li>It is important that an Assessor is assigned to a proposal as soon as possible.</li>
			<li>To determine who is responsible for assessing a proposal, consult your local Assessor’s Regional Ready Reckoner or discuss with the district or regional manager.</li>
			<li>Please be aware that the DBCA states proposals are to be assessed, and an approval decision made within 30 working days from lodgement, unless significant amendments are required.</li>
			<li>For full instructions on how to assess a proposal, see <a href="{{ proposal_assess_help_page }}">DAS 06 how to assess a proposal</a></li>
		</ul>
	</p>


{%  endblock %}
