{%  extends 'disturbance/emails/base_email.html' %}

{%  block content %}
    {% if reminder %}
        <p>This is a reminder for a referral for Proposal <strong>{{proposal.lodgement_number}}</strong> that has been sent to you:</p>
    {% else %}
        <p>A referral for Proposal <strong>P{{proposal.id}}</strong> has been sent to you:</p>
        <!-- <p>Comments: {{comments}}</p> -->
    {% endif %}
    <p>
	
        Region: {{proposal.region}}<br>
        {% if proposal.district %}
            District: {{proposal.district}}<br>
        {% else %}
            District: -<br>
        {% endif %}
        Title: {{proposal.title}}<br>
        Activity: {{proposal.activity}}<br>
        Assessor: {{assessor_name}}<br>
    </p>
    <p>Comments: {{comments}}</p>
    <p>You can access this referral using the following link:</p>
    <a href="{{url}}">Access Referral</a>
    <p>
		Note:
		<ul>
			<li>Please complete this referral within 2 weeks.</li>
			<li>If you foresee issues meeting this timeline, please advise the Assessor ASAP as it may impact on approval timelines. </li>
			<li>See <a href="{{ referral_assess_help_page }}">DAS 06 How to complete a proposal referred to you</a> for full instructions.</li>
		</ul>
	</p>
{%  endblock %}
