{%  extends 'disturbance/emails/base_email.html' %}

{%  block content %}
	The Proposal {{ proposal.lodgement_number }} has been reviewed and has been recommended for decline.
    <p>
        Region: {{proposal.region}}<br>
        {% if proposal.district %}
            District: {{proposal.district}}<br>
        {% else %}
            District: -<br>
        {% endif %}
        Title: {{proposal.title}}<br>
        Activity: {{proposal.activity}}<br>
        Assessor: {{ assessor_name }}<br>
    </p>
    {% if reason %}
        <p>
        	<span>Declined Reason: {{ reason }}</span>
        </p>
    {% endif %}

    <p>
    You can access this Proposal using the following link:
    </p>
    <a href="{{url}}">Access Proposal</a>


{%  endblock %}
