.map {
    width: 100%;
    height: 500px;
}

.ol-mouse-position {
    position: absolute;
    bottom: 16px;
    left: 16px;
    top: auto;
    right: auto;
    text-align: left;
    font-size: 0.8rem;
    border: 0;
    padding: 8px;
    color: white;
    background-color: rgba(37, 45, 51, 0.7);
}