{% extends 'disturbance/base.html' %}

{% block content %}
    <style>
        .row {
            margin: 0 0 1em 0;
        }
    </style>
    <div class="container">
        <H4>Hover over button to see help text.</H4>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="row">
                <button type="submit" name="script" value="approval_renewal_notices" {% if approval_renewal_notices == 'true' %}style="color:green" {% endif %} title="Send Approval renewal notice when approval is due to expire in 30 days">Run Script 'approval_renewal_notices'</button>
            </div>
            <div class="row">
                <button type="submit" name="script" value="expire_approvals" {% if expire_approvals == 'true' %}style="color:green" {% endif %} title="Change the status of Approvals to Expired when past expiry date">Run Script 'expire_approvals'</button>
            </div>
            <div class="row">
                <button type="submit" name="script" value="send_compliance_reminder" {% if send_compliance_reminder == 'true' %}style="color:green" {% endif %} title="Send notification emails for compliances which has past due dates, and also reminder notification emails for those that are within the daterange prior to due_date (eg. within 14 days of due date)">Run Script 'send_compliance_reminder'</button>
            </div>
            <div class="row">
                <button type="submit" name="script" value="update_approval_status" {% if update_approval_status == 'true' %}style="color:green" {% endif %} title="Change the status of Approvals to Surrender/Cancelled/Suspended">Run Script 'update_approval_status'</button>
            </div>
            <div class="row">
                <button type="submit" name="script" value="update_compliance_status" {% if update_compliance_status == 'true' %}style="color:green" {% endif %} title="Change the status of Compliances from future to due when they are close to due date (eg. within 14 days)">Run Script 'update_compliance_status'</button>
            </div>
            <div class="row">
                <button type="submit" name="script" value="weekly_assessment_reminder" {% if weekly_assessment_reminder == 'true' %}style="color:green" {% endif %} title="Send weekly reminder notice for Proposals which are pending for assessment.">Run Script 'weekly_assessment_reminder'</button>
            </div>
            <div class="row">
                <button type="submit" name="script" value="send_annual_rental_fee_invoice" {% if send_annual_rental_fee_invoice == 'true' %}style="color:green" {% endif %} title="Send annual site fee invoices.">Run Script 'send_annual_rental_fee_invoice'</button>
            </div>
            <div class="row">
                <button type="submit" name="script" value="save_apiary_sites" {% if save_apiary_sites == 'true' %}style="color:green" {% endif %} title="Save apiary sites.">Run Script 'save_apiary_sites'</button>
            </div>
            <div class="row">
                <button type="submit" name="script" value="apiary_migration_script" {% if apiary_migration_script == 'true' %}style="color:green" {% endif %} title="Run migration script.">Run Script 'apiary_migration_script'</button>
            </div>
        </form>
    </div>
    <br />
    {{ ret }}
    {{ block.super }}
{% endblock %}

