<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        {% block greetings %}
            <p>
                Dear Sir/Madam,
            </p>
        {% endblock %}
        {% block content %}
        {% endblock %}
        {% block signature %}
            <p>
                Yours sincerely,
            </p>
            <p></p>
            <p>
            Apiary Section
            </p>
        {% endblock %}
        {% block reply_statement %}
            <p></p>
            <p></p>
            <p>
                <strong><em>
                    Please do not reply directly to this email. Should you need to contact the {{settings.DEP_NAME}}, 
                    please contact the Commercial Business Unit or the Apiary administrator on <a href="mailto:{{ settings.APIARY_SUPPORT_EMAIL }}">{{ settings.APIARY_SUPPORT_EMAIL }}</a>.
                </em></strong> 
            </p> 
        {% endblock %}
    </body> 
</html>
