<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        {% block greetings %}
            <p>
                {% if greeting %}
                    Dear {{ greeting }},   
                {% else %}
                    Dear Sir/Madam,
                {% endif %}
            </p>
        {% endblock %}
        {% block content %}
        {% endblock %}
        {% block signature %}
            <p>
                Yours sincerely,
            </p>
            <p></p>
            <p>
            DAS Section
            </p>
        {% endblock %}
        {% block reply_statement %}
            <p></p>
            <p></p>
            <p>
                <!--
                <strong><em>Please do not reply directly to this email. Should you need to contact the licensing section of the Department of 
                Biodiversity, Conservation and Attractions, please send emails to <a href="mailto:das@dpaw.wa.gov.au">das@dpaw.wa.gov.au</a> 
                or call (08) 9219 9000.</em></strong>
                -->
                {% if assessor_footer %}
                <strong><em>
                    Please do not reply directly to this email. Should you require further assistance refer to the <a href="{{ DAS_sharepoint_page }}">DAS Sharepoint Page</a>, or contact  the respective district or regional manager, or the DAS administrator on <a href="mailto:{{ settings.SUPPORT_EMAIL }}">{{ settings.SUPPORT_EMAIL }}</a><a href="mailto:{{ settings.SUPPORT_EMAIL }}">{{ settings.SUPPORT_EMAIL }}</a>. 
                    <br>The DAS inbox ({{ settings.SUPPORT_EMAIL }}) is monitored from 0800 – 1600 Monday to Friday (except Public Holidays).
                </em></strong>
                {% else %}
                <!-- <strong><em>
                    Please do not reply directly to this email. Should you need to contact the {{settings.DEP_NAME}}, 
                    please contact the respective DBCA region/district or the DAS administrator on <a href="mailto:{{ settings.SUPPORT_EMAIL }}">{{ settings.SUPPORT_EMAIL }}</a>.
                </em></strong>  -->
                <strong><em>
                    Please do not reply directly to this email. For DAS enquiries, 
                    please contact the relevant {{settings.DEP_NAME}} (DBCA) district or region or the DAS administrator on <a href="mailto:{{ settings.SUPPORT_EMAIL }}">{{ settings.SUPPORT_EMAIL }}</a>.
                    <br>The DAS inbox ({{ settings.SUPPORT_EMAIL }}) is monitored from 0800 – 1600 Monday to Friday (except Public Holidays).
                </em></strong> 
                <!-- <strong><em>
                    Please do not reply directly to this email. Should you need to contact the {{settings.DEP_NAME}}, 
                    please contact the respective DBCA region/district or the DAS administrator on <a href="mailto:{{ settings.SUPPORT_EMAIL }}">{{ settings.SUPPORT_EMAIL }}</a>.
                </em></strong>  -->
                {% endif %}
            </p> 
        {% endblock %}
    </body> 
</html>
