{% extends 'disturbance/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="well">
            <div class="row"><div class="col-sm-12">
                <h2>Success!</h2>
                <strong>Your payment for the Annual Site Fee was successful.</strong><br />
                <strong>A confirmation email has been sent to  {{ to_email_address }}.</strong>
            </div></div>
            <br/>
        </div>

        <div class="row"><div class="col-sm-12" style="margin-top: 1em">
            {% if can_access_invoice or request.user.is_staff %}

                {% if request.user.is_authenticated %}
                    <span>
                    <a href="{% url 'invoice-pdf' invoice_reference %}" class="btn btn-info btn-lg"  target="_blank">Invoice</a>
                    </span>
                    <span style="float:right;">
                    <a href="{% url 'external' %}" class="btn btn-info btn-lg">Return to Dashboard</a>
                    </span>
                {% else %}
                    <a href="{% url 'home' %}" class="btn btn-info btn-lg">Log in</a><p>You must be logged in to see your invoice online.</p>
                {% endif %}

            {% else %}
                <p style="font-size: 1.5rem; font-weight: bold;">You do not have permission to access the confirmation or invoice for this payment.<br>Please check your email or contact DBCA Apiary directly.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
