{% load users %}
{% load utils %}
{% load static %}

{% is_internal as is_internal_login %}
{% is_internal_path as is_internal_login_path %}

{% if is_internal_login %}
    <li class="nav-item">
        <a class="nav-link{% if 'proposals' in request.path %} active{% endif %}" href="/internal">
            Proposals
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link{% if 'approvals' in request.path %} active{% endif %}" href="/internal/approvals">
            Approvals
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link{% if 'compliances' in request.path %} active{% endif %}" href="/internal/compliances">
            Compliance with Requirements
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link{% if 'organisations' in request.path %} active{% endif %}" href="/internal/organisations/access">
            Organisation Access
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link{% if 'search' in request.path %} active{% endif %}" href="/internal/search">
            Search
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link{% if 'proposal_map_geoserver' in request.path %} active{% endif %}" href="/internal/proposal_map_geoserver">
            Proposals Map
        </a>
    </li>
{% endif %}