{% load bootstrap3 %}
{% load utils %}

{% system_name as system_name %}


{% load static %}

{% if TEMPLATE_GROUP == 'apiary' %}
    <div class="container">
        <div class="masthead">
            <div class="row">
                <div class="agency-freespace">
                    <h1 id="site-title" class="site-logo" style="color: white;">
                        <div class="col-sm-5">
                            <a href="{%url 'home'%}">
                                <img src="/static/disturbance/img/logo-park-stay-trunc.gif" alt="Department of Biodiversity, Conservation and Attractions" class="img-responsive"/>
                            </a>
                        </div>
                        <div class="col-sm-7">
                            <!--div class="pull-right"-->
                            <div>
                                Apiary System
                                {{ this_is_apiary }}
                            </div>
                        </div>
                    </h1>
                </div>
            </div>
        </div>
    </div>

{% else %}
    <div class="container">
        <div class="masthead">
            <div class="row">
                <div class="agency-freespace">
                    <h1 id="site-title" class="site-logo" style="color: white;">
                        <div class="col-sm-5">
                            <a href="{%url 'home'%}">
                                <img src="/static/disturbance/img/logo-park-stay-trunc.gif" alt="Department of Biodiversity, Conservation and Attractions" class="img-responsive"/>
                            </a>
                        </div>
                        <div class="col-sm-7">
                            <!--div class="pull-right"-->
                            <div>
                                {{ system_name }}
                            </div>
                        </div>
                    </h1>
                </div>
            </div>
        </div>
    </div>
{% endif %}
